$menu-background:#1B1920;
$logo-img-folder:'images';

.navigation{
	z-index:1000;
	width:100%;
	top:0;
	position: fixed;
	font-family:"Open Sans",san-serif;

	.logo{
		background-image:url('/02/public/#{$logo-img-folder}/uploads/logo.png');
		width:8rem;
		height:2.6rem;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center
	}
}